@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 27 29% 10%;
    --card: 60 56% 94%;
    --card-foreground: 27 29% 10%;
    --popover: 60 56% 94%;
    --popover-foreground: 27 29% 10%;
    --primary: 27 29% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 10% 85%;
    --secondary-foreground: 27 29% 20%;
    --muted: 60 10% 85%;
    --muted-foreground: 27 29% 30%;
    --accent: 77 22% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 20% 80%;
    --input: 27 20% 85%;
    --ring: 77 22% 48%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 30 10% 12%;
    --foreground: 60 5% 95%;
    --card: 30 10% 15%;
    --card-foreground: 60 5% 95%;
    --popover: 30 10% 15%;
    --popover-foreground: 60 5% 95%;
    --primary: 27 29% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 5% 25%;
    --secondary-foreground: 60 5% 95%;
    --muted: 30 5% 25%;
    --muted-foreground: 60 5% 65%;
    --accent: 77 22% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 20% 30%;
    --input: 27 20% 25%;
    --ring: 77 22% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animate-float-up {
    animation: float-up 3s ease-out forwards;
  }

  @keyframes float-up {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-60px);
      opacity: 0;
    }
  }

  .text-shadow {
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  }
  .text-shadow-lg {
     text-shadow: 2px 2px 4px black, 0 0 1.5em black, 0 0 0.4em black;
  }
}
